:root {
     --color-de-encabezados: #361D20; 
     --color-de-enlaces: #493736; 
     --color-de-presentacion:#9ed1b781 ;
     --color-de-footer-header: #e7d9b49a;
     --color-de-hobbies:#92b4a677 ;
     --color-de-musica: #c0dbaba2;
}

body {
    background-image: url(img/wallpaper.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    height: 150vh;
    font-family: "Dancing Script", cursive;
} 

.encabezado-principal {
    text-align: center;
    background-color: var(--color-de-footer-header)
}

main {
    text-align: center;
}

h1, h2 {
     font-family: "Caveat", cursive;
     color: var(--color-de-encabezados);
}

img {
    height: 150px;
    width: 150px;
    border-radius: 40%;
}

.presentacion {
    background-color: var(--color-de-presentacion);
    margin: 30px;
}

.hobbies{
    margin: 30px;
    background-color: var(--color-de-hobbies);
}

.musica {
    margin: 30px;
    background-color: var(--color-de-musica);
}
ul li {
    list-style: none;
}

ol {
    text-align: center;
}

a {
    color: var(--color-de-enlaces);
}

footer {
    background-color: var(--color-de-footer-header);
    margin: auto;
    text-align: center;
    padding: 10px;
}